<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../public/styles/views/AcoesPesquisa.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap" rel="stylesheet">
  <title>Ações Pesquisa</title>
</head>

<body>
  <header class="head">
    <a href="Home.html" class="head">
      <span class="material-symbols-outlined" id="logo">sentiment_satisfied</span>
      <span id="logo">Satisfying.you</span>
    </a>
    <a href="login.html" class="sair">Sair</a>
  </header>

  <main>
    <a href="ModificarPesquisa.html" class="bloco">
        <span class="material-symbols-outlined" id="img">contract_edit</span>
        <span>Modificar</span>
    </a>

    <a href="Coleta.html" class="bloco">
        <span class="material-symbols-outlined" id="img">library_add_check</span>
        <span>Coletar Dados</span>
    </a>

    <a href="Relatorio.html" class="bloco">
        <span class="material-symbols-outlined" id="img">donut_large</span>
        <span>Relatório</span>
    </a>
  </main>
</body>

</html>
