<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="3;Home.html">
  <link rel="stylesheet" href="../public/styles/views/AgradecimentoParticipacao.css" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap" rel="stylesheet">
  <title>Agradecimento Participação</title>
</head>

<body>

  <header>
    <a href="login.html" class="sair">Sair</a>
  </header>

  <main class="agrad">
    <p>Obrigado por participar da pesquisa!<br><br>Aguardamos você no próximo ano!</p>
  </main>

  <footer class="red">
    <p>Você será redirecionado em 3 segundos...<br><br>Aguarde ou <a href="Home.html" class="sair">clique aqui</a></p>
  </footer>

</body>

</html>
