<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Research</title>
</head>
<body>
  <header>
    <h2>Satisfying.you</h2>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/account/create">Create Account</a>
      <a href="/account/recover-password">Recover Password</a>
      <a href="/research/create">Create Research</a>
      <a href="/research/edit">Edit Research</a>
      <a href="/research/collect">Collect Research Data</a>
      <a href="/research/report">Research Report</a>
      <a href="/research/thanks">Research Thanks</a>
    </nav>
  </header>
  <h1>Edit Research Page!</h1>
</body>
</html>