<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles\views\ModificarPesquisa.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap" rel="stylesheet">
  <title>Modificar Pesquisa</title>
</head>

<body>

  <header>
    <header>
      <span class="material-symbols-outlined" id="logo">sentiment_satisfied</span>
      <span id="logo">Satisfying.you</span>
    </header>
    <header>
      <a href="login.html" class="trash"><span class="material-symbols-outlined" id="trash-img">delete</span>Apagar</a>
      <a href="login.html" class="sair">Sair</a>
    </header>
  </header>

  <div class="content">

    <form>

      <span class="tit">Atualize os dados da pesquisa</span>

      <br>
      <label for="nomepesq">Nome da pesquisa</label>
      <input type="text" id="nomepesq" class="field">

      <br>
      <label for="data">Data</label>
      <input type="date" id="data" class="field">

      <br>
      <label for="imagem">Imagem</label>
      <div class="arq">
        <div class="nome-arq"></div>
        <label id="imagem" class="custom-file"><input type="file" id="imagem">Escolher arquivo</label>
      </div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh1Idv8osdL7QRgEBhCce_uSU7lkvVB97Hx1zPb922if4MPQrT" class="image">
      
      <div class="submit">
        <input type="submit" value="Salvar" class="but">
      </div>
      
    </form>

  </div>

</body>

</html>
