<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../public/styles/views/Relatorio.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap" rel="stylesheet">
  <title>Relatório</title>
</head>

<body>
  <header class="head">
    <a href="Home.html" class="head">
      <span class="material-symbols-outlined" id="logo">sentiment_satisfied</span>
      <span id="logo">Satisfying.you</span>
    </a>
    <a href="login.html" class="sair">Sair</a>
  </header>

  <main>
    <img src="https://cdn.icon-icons.com/icons2/883/PNG/512/6_icon-icons.com_68891.png" class="img">

    <div class="leg">
        <div class="desc">
            <span class="excelente"></span><span>Execelente</span>
        </div>
        <div class="desc">
            <span class="bom"></span><span>Bom</span>
        </div>
        <div class="desc">
            <span class="neutro"></span><span>Neutro</span>
        </div>
        <div class="desc">
            <span class="ruim"></span><span>Ruim</span>
        </div>
        <div class="desc">
            <span class="pessimo"></span><span>Péssimo</span>
        </div>
    </div>
  </main>
</body>

</html>
