* {
    font-family: 'Averia Libre', cursive;
}

body {
    margin: 0;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background-color: #372775;
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    align-items: center;
}

#logo {
    font-size: 70px;
}

.sair {
    color:#3F92C5;
}

.agrad {
    margin-top: 230px;
    margin-bottom: 240px;
    font-size: 75px;
    text-align: center;
}

.red {
    width: 100%;
    font-size: 25px;
    text-align: right;
    color: #888888;
}
