* {
    font-family: 'Averia Libre', cursive;
}

body {
    margin: 0;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background-color: #372775;
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    align-items: center;
}

#logo {
    font-size: 70px;
}

.sair {
    color:#3F92C5;
}

main {
    text-align: center;
    font-size: 70px;
    margin-top: 100px;
}

.opcoes {
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 50px;
}

#pessimo {
    font-size: 180px;
    color: #D71616;
    margin-bottom: 10px;
}

#ruim {
    font-size: 180px;
    color: #FF360A;
    margin-bottom: 10px;
}

#neutro {
    font-size: 180px;
    color: #FFC632;
    margin-bottom: 10px;
}

#bom {
    font-size: 180px;
    color: #37BD6D;
    margin-bottom: 10px;
}

#excelente {
    font-size: 180px;
    color: #25BC22;
    margin-bottom: 10px;
}