* {
    font-family: 'Averia Libre', cursive;
}

body {
    margin: 0;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background-color: #372775;
    color: white;
}

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 30px;
    align-items: center;
    text-decoration: none;
    color: white;
}

#logo {
    font-size: 70px;
}

.sair {
    color:#3F92C5;
}

.novapesquisa {
    background-color: #37BD6D;
    border-radius: 10px;
    margin-right: 25px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.pesquisa {
    margin-top: 55px;
    padding-left: 1%;
    width: 99%;
    height: 50px;
    font-size: 30px;
    font-family:'FontAwesome', 'Averia Libre', cursive;
}

.link {
    text-decoration: none;
}

article {
    width: 480px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 65px;
}

main {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-x: hidden;
}

main:hover{
    overflow-x: auto;
}

main::-webkit-scrollbar {
    width: 100%;
}

main::-webkit-scrollbar-track {
    background-color: transparent;
}

main::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
}

.img {
    width: 280px;
    height: 280px;
    margin-bottom: 15px;
}

.tit {
    font-size: 60px;
    color: #3F92C5;
    margin-bottom: 10px;
}

.data {
    font-size: 30px;
    color: #8B8B8B;
}
